@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Verstecke alles außer der Preview beim Drucken */
  .no-print {
    display: none !important;
  }

  /* Entferne Schatten und Skalierung beim Druck */
  #cv-preview {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    transform: scale(1) !important;
  }
}